.App {
  display: flex;


  margin: 0;
  padding: 0;
  background-color: blue;
  width: 100vw;
  height:100vh;
}
.App_form{
  
}
.App-form-content{
  
  background-color: chartreuse;
  display: flex;
  flex-direction: column;
}
